include ./sites/battledash/upstream.config;

server {
  server_name battledash.dev;
  include ./sites/battledash/http.config;
  root /Users/tkirby/workspace/g0v/battledash/static/;
}

server {
  server_name battledash.dev;
  root /Users/tkirby/workspace/g0v/battledash/static/;
  include ./sites/battledash/https.config;
  include ./sites/battledash/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/battledash.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/battledash.dev/server.key;
}
