extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
  - ctrl.navtop.shown = false;
block body
  .typeset.heading-contrast
    .w-1024.mx-auto.rwd
      .card: .card-body
        p 活動後台頁面
        h5 入口:
        ul
          li 個人檔案
          li 活動資訊頁
          li 活動提案列表
        h5 出口
        ul
          li 活動提案列表
          li 活動資訊頁
          li 活動資訊頁編輯器
        h5 主要功能:
        ul
          li 預覽活動
          li 修改活動資訊
          li
            p 調整活動狀態
            ul
              li 開關報名 / 尚未開跑 / 活動中 / 活動結束
              li 開關編輯 / 開關評論 / 開關評審
              li 設定階段 ( 多階段活動用 )
              li 發布活動 ( 發布時檢查所有資訊是否完整 )
          li
            p 提案資訊
            ul
              li 提案數
              li 評論狀況
          li 角色調整
          li 刪除活動/隱藏活動
        p 活動 schema
        .code-block.
          activity
            description - text(300)
            title - text(100)
            slug - text(32) not null unique
            key - int not null unique primary key
            deleted - bool
            visible - bool
            detail: jsonb
            createdtime - timestamp
            modifiedtime - timestamp
            orgnization - int foreign key(organization)
            owner - int foreign key(user)
            - index key, slug, createdtime

