extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
block body
  //- hero
  .w-100.h-100.bg-dark.text-light: .vertical-center: .w-100
    .row
      .col-md.text-right
        h1.display-4.font-weight-bold 2019 G0V GRANT
        p 零時政府公民科技創新獎助金
        br
        p 每案 30 ~ 50 萬獎金#[br] 12.10 ~ 0.13 開放公開提案
      .col-md.text-left
        h3 最新消息
        ul
          li g0v 公民科技創新獎助金 2019 獲獎名單 (2019/2/25)
          li 2019 g0v 獎助金 入圍名單 (2019/1/28)
          li 2019 提案追追追！ (2019/1/15)
          li g0v 獎助金 2019 提案流程圖 (2019/1/7)
          li 2019 評選委員名單公布 (2019/1/4)
          li g0v 獎助金 2019 時程調整公告 (2018/12/18)
          li g0v 獎助金 2019 相關活動行程表 (2018/11/20)
  //- news
  //- about
  .w-100.p-4
    .w-1024.mx-auto.rwd.typeset.heading-contrast
      h2 關於 g0v.tw 台灣零時政府社群
      p 自 2012 年以來，公民科技運動風起雲湧，以開放透明、公民參與為號召的 g0v 台灣零時政府社群號召了第一場活動，以「寫程式改造社會」為口號，從此開始公民科技之火開始延燒，至今未歇。
      p 六年間，在上千位參與者集體的貢獻下，透過一場場黑客松，打造出多項以開放資料、開放政府為精神的資訊平台，以縮短數位落差為初衷，降低公民參與門檻，使得議題審議可立基在具體事實，提升理性討論公共事務的意識。
      p 這場開放資料、開放政府運動，g0v 社群也打破了民間與政府對抗的傳統運動路線，開創出台灣公民社會與政府互動的新模式。
      p 然而，這類開源工具開發、經營，甚至社群本身，大多仰賴志願者的熱情投入。雙月大黑客松可說是 g0v 社群的起點，六年多來，g0v 揪松團已舉辦三十餘次百人大黑客松，至今超過上千人次參與。總共發想出了數百個專案，其中少數發展成真正具有社會影響力的成品。
      p 我們認為好的創意與設計還需要投入持續開發、長期營運維護的人力與心力，才能真正成為足以產生改變、激發更多創意與發展的成果。
  // 活動辦法
  .w-100.bg-dark.text-light.p-4
    .w-1024.mx-auto.rwd.typeset.heading-contrast
      h2 活動辦法
      h3 獎助內容
      ul
        li 每個計畫獎助新台幣 30 - 50 萬元
        li 八個月為一期的開發期程
        li 合作夥伴提供 10 萬元加碼獎
        li 主辦單位媒合顧問資源、媒體追蹤報導與公民團體
      h3 重要時程
      ul
        li 11/1 許願池 開放
        li 12/10-1/13 線上公開提案與評論（評論開放到 2/27）
        li 1/15 提案修改截止（限已在 1/13 前上傳的提案）
        li 2/1 公告決選入圍名單
        li 2/15 提交定版提案（入圍專案須提交）
        li 2/23 決選會議（入圍專案須參加）
        li 3/9 啟動工作坊 @ g0v 大黑客松
        li 7 月 期中報告 @ g0v 大黑客松
        li 11 月 期末成果發表會
  //- Topics
  //- FAQ
  //- Judges
  //- Team
  //- Partner
  //- Stickers

  //- other possible sections:
    - projects?
    - participants?
    - location?
    - timeline?
