//- module

mixin act-card
  a.card.shadow.text-dark(href="/activity/landing.html",
  style="text-decoration:none;width:300px")&attributes(attributes)
    .card-img-top.bg-dark(style="height:300px")
    .card-body
      h5.mb-0 華文永續報導獎
      .text-sm.text-muted.mb-2 TVBS 信望愛基金會
      .text-sm.text-muted 2019/12/01 ~ 2019/12/31#[br]台北小巨蛋

mixin act-card-sm
  a.card.shadow.text-dark(href="/activity/landing.html",
  style="text-decoration:none;width:250px")&attributes(attributes)
    .card-img-top.bg-dark(style="height:200px")
    .card-body
      h5.mb-0 華文永續報導獎
      .text-sm.text-muted.mb-2 TVBS 信望愛基金會
      .text-sm.text-muted 2019/12/01 ~ 2019/12/31#[br]台北小巨蛋

//- 列表標頭

//- 置中式
mixin act-head-center
  .w-100.text-light.bg-dark.mb-4.rounded(style="height:300px;background:url(/assets/img/dev/bk-minimal.png) center center no-repeat;background-size:cover"): .vertical-center: .w-100.text-center
    h3.font-weight-light 2019 公民科技創新獎助金
    p.text-muted.text-sm.mb-4 g0v 公民科技創新獎助金 - 8 個月、每個專案 30 - 50 萬，2019/1/13 提案截止。
    a.btn.btn-outline-light(href="/activity/landing.html") 關於此計畫
    .btn.btn-outline-light.ml-2(onclick="lda.ldcvmgr.toggle('propose')") 我要提案
  +act-list-ctrl

//- 靠左式
mixin act-head-side
  .w-100.text-light.bg-dark.mb-4.rounded(style="height:300px;background:url(/assets/img/dev/landing.jpg) center center no-repeat;background-size:cover")
    .vertical-center: .w-50.text-left.ml-4.pl-4
      h3.font-weight-light 2019 公民科技創新獎助金
      p.text-sm.mb-4(style="opacity:.65") g0v 公民科技創新獎助金 - 8 個月、每個專案 30 - 50 萬，2019/1/13 提案截止。
      a.btn.btn-outline-light(href="/activity/landing.html") 關於此計畫
      .btn.btn-outline-light.ml-2(onclick="lda.ldcvmgr.toggle('propose')") 我要提案
  +act-list-ctrl

//- 操作面板
mixin act-list-ctrl
  .d-flex.w-100.justify-content-between.py-2
    div
      .btn-group
        .btn.btn-outline-secondary 許願池
        .btn.btn-outline-secondary 得獎提案
        .btn.btn-outline-primary.active 全部提案 #[i.i-check]
    div
      .input-group
        input.form-control(placeholder="搜尋提案...")
        .input-group-append
          .btn.btn-outline-secondary 搜尋 #[i.i-search]

//- 簡式標頭
mixin act-head-simple
  .d-flex.align-items-end
    .flex-grow-1
      h3.font-weight-light 2019 公民科技創新獎助金
      p.text-muted.text-sm.mb-0 g0v 公民科技創新獎助金 - 8 個月、每個專案 30 - 50 萬，2019/1/13 提案截止。 #[a(href="/activity/landing.html") 了解更多...]
    div: .input-group
      input.form-control(placeholder="搜尋提案...")
      .input-group-append
        .btn.btn-outline-secondary 搜尋 #[i.i-search]
  hr.mb-0
  .text-center.p-4
    .btn-group
      .btn.btn-sm.btn-outline-secondary 許願池
      .btn.btn-sm.btn-outline-secondary 得獎提案
      .btn.btn-sm.btn-outline-primary.active 全部提案 #[i.i-check]
    .btn.btn-sm.btn-outline-secondary.ml-2(onclick="lda.ldcvmgr.toggle('propose')") 我要提案
