//- 
.foot.p-4
  .w-1024.rwd.mx-auto.m-4
    .row
      .col-md-5: .vertical-bottom: .w-100
        h2 #[span.text-sm 零時政府]#[br]公民科技獎助金
        .sep.sep-light.w-100.ml-0.my-4
      .col-md-2: .vertical-bottom: .w-100
        h5 深入專案
        .sep.sep-light.w-100.ml-0.my-4
      .col-md-2: .vertical-bottom: .w-100
        h5 關於網站
        .sep.sep-light.w-100.ml-0.my-4
      .col-md-2: .vertical-bottom: .w-100
        h5 認識 g0v 
        .sep.sep-light.w-100.ml-0.my-4
    .row
      .col-md-5
        p.semi-opaque 每一個公民科技好點子背後的創意與力量，都像是一隻輕拍翅膀的蝴蝶，若能導入持續開發、長期營運的人力與資源，就能引發蝴蝶效應，產生足以扭轉未來的成果。
        .d-flex.align-items-center
          .bg-danger.mr-2(style="width:4em;height:4em;border-radius:50%")
          .mr-3 #[span.text-lg.font-weight-bold(style="line-height:1em") 223] #[.text-sm 累計提案]
          .mr-3 #[span.text-lg.font-weight-bold(style="line-height:1em") 24] #[.text-sm 獲獎提案]
          .mr-3 #[span.text-lg.font-weight-bold(style="line-height:1em") 11.2]#[b M] #[.text-sm 已發放獎金]
          .mr-3 #[span.text-lg.font-weight-bold(style="line-height:1em") 200]#[b +] #[.text-sm 媒體報導]
      .col-md-2
        div 執行團隊
        div 本專案收支細項
        div 合作洽詢
        div 常見問題
        div 成果報告

      .col-md-2
        div 隱私權政策
        div 使用條款
        div 提案系統源碼
        div 問題回報

      .col-md-2
        div 零時政府宣言
        div 臉書後勤中心
        div g0v Slack
        .text-lg.my-2
          i.i-fb.mr-2
          i.i-twt.mx-2
          i.i-link.mx-2
    br
    p.semi-opaque.text-sm * 獎助金支持的所有專案其專案成果、源碼等皆以開放授權釋出。

