//- 
.foot.p-4
  .w-1024.rwd.mx-auto.m-4
    .row
      .col-md-5: .vertical-bottom: .w-100
        h2 Battle Dash
        .sep.sep-light.w-100.ml-0.my-4
      .col-md-2: .vertical-bottom: .w-100
        h5 關於我們
        .sep.sep-light.w-100.ml-0.my-4
      .col-md-2: .vertical-bottom: .w-100
        h5 相關服務
        .sep.sep-light.w-100.ml-0.my-4
      .col-md-2: .vertical-bottom: .w-100
        h5 認識 g0v 
        .sep.sep-light.w-100.ml-0.my-4
    .row
      .col-md-5
        p.semi-opaque Battle Dash 協助你迅速建立活動網站，從簡章、提案到評審，一手包辦！
      .col-md-2
        div 執行團隊
        div 合作洽詢
        div 常見問題
        div 隱私權政策
        div 使用條款

      .col-md-2
        div 建立組織
        div 建立活動
        div 提案系統源碼
        div 問題回報

      .col-md-2
        div 零時政府宣言
        div 臉書後勤中心
        div g0v Slack
        .text-lg.my-2
          i.i-fb.mr-2
          i.i-twt.mx-2
          i.i-link.mx-2
