@font-face {
  font-family: 'ldi';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/ldui/fonts/ldi.ttf?x74ll4") format('truetype'), url("/assets/ldui/fonts/ldi.woff?x74ll4") format('woff'), url("/assets/ldui/fonts/ldi.svg?x74ll4#ldi") format('svg');
}
html,
body {
  width: 100%;
  height: 100%;
}
.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ddd;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.avatar.em {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}
.avatar.md {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
#nav-top-gap {
  height: 60px;
}
/*
.typeset
  font-family: "源石黑體-Regular", sans-serif
*/
