//- module
doctype html
include /mixins/generic.pug
- var cls = {}
- var ctrl = {}
html
  head
    meta(charset="utf-8")
    +css("/assets/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/ldui/ldui.min.css")
    +css("/css/index.css")
    block head
  body
    include modules/nav.pug
    +nav-top
    block body
    +script("/assets/bootstrap.native.4/2.0.26/bootstrap-native-v4.min.js")
    +script("/assets/ldui/ldui.min.js")
