//- module
- var decache = "?v=" + version
- var escjson = function(obj) { return 'JSON.parse(unescape("' + escape(JSON.stringify(obj)) + '"))'; };
- var eschtml = (function() { var MAP = { '&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&#34;', "'": '&#39;' }; var repl = function(c) { return MAP[c]; }; return function(s) { return s.replace(/[&<>'"]/g, repl); }; })();

mixin margin-break
  .margin-break &nbsp;

mixin nbr(count)
  - for (var i = 0; i < count; i++)
    br
- if(!scriptLoader) { scriptLoader = {url: {}, config: {}}; }

mixin script(url,config)
  - scriptLoader.config = (config ? config : {});
  if !scriptLoader.url[url]
    - scriptLoader.url[url] = true;
    if /^https?:\/\/./.exec(url)
      script(type="text/javascript",src=url,
      defer=!!scriptLoader.config.defer,async=!!scriptLoader.config.async)
    else
      script(type="text/javascript",src=url + decache,
      defer=!!scriptLoader.config.defer,async=!!scriptLoader.config.async)

mixin css(url)
  link(rel="stylesheet",type="text/css",href=url + decache)
