extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
  - ctrl.navtop.shown = false;
  style.
    body { font-size: 18px }
    p { opacity: 0.75 }
block body
  include mixin.pug


  //- card display, shown in list
  .w-100.h-100.position-relative

    .position-absolute.card.m-4: .card-body
      p 卡片式提案資訊。
      ul
        li 主要資訊：提案內容, 提案者
        li 需要提案提供縮圖
        li 點擊後進入提案主頁。
        li: ul
          li 還需要其它資訊?
          li 得獎狀況
          li 屆數? ( 不一定需要? )
          
    .vertical-center: .w-100.text-center
      +prj-card.mx-auto.text-left


  //- list display, shown in tiny space
  .w-100.h-100.position-relative

    .position-absolute.card.m-4: .card-body
      p 列表式專案資訊。
      ul
        li 主要資訊：提案內容, 提案者
        li 用來在較小的空間內展示提案
        li 點擊後進入提案主頁。
        li optional 提案圖示
        li: ul
          li 還需要其它資訊?
          li 得獎狀況

    .vertical-center: .w-100.text-left
      +prj-list
      +prj-list-sm
      +prj-thumb
