extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
block head
  style: :stylus
    .form-group
      margin: 0 0 3rem
    .form-group label
      width: 100%
block body
  include /edit/index.pug
  include /project/mixin.pug
  include /project/create.pug
  .w-1200.rwd.mx-auto.p-4
    .ldcv.ldcvmgr(data-name="dev-note"): .base: .inner.card: .card-body: .p-4
      h5 專案編輯介面
      p 此頁包含了提案可能會用到的各種元件, 包括:
      ul
        li slider
        li markdown editor
        li dropdown selector ( including additional input field )
        li tag editor
        li img uploader
        li multiple choice
      p 所需欄位可參考 ldEditor 的設計, 使用一個 config object 來準備. 該 config 可用於前後端

    //-.btn.btn-outline-dark(onclick="lda.ldcvmgr.toggle('propose')") 建立提案 #[i.i-plus]
    .typeset.headling-contrast
      .row
        .col-md-3.text-center
          .pb-4.mb-4
            +prj-card-sm.mb-2
            .text-sm.semi-opaque 卡片預覽
          style: :stylus
            .step
              margin-bottom: 1em
              background: #fd9
              cursor: pointer
            .step.active
              background: #5db
            .step:before
              color: #fff
              font-family: ldi
              position: absolute
              top: 0
              left: 0
              right: 0
              bottom: 0
              margin: auto
            .step:before
              content: "\f014"
            .step.active:before
              content: "\f00d"
            .step:after
              content: " "
              display: block
              height: 1em
              position: absolute
              top: 100%
              left: calc(50% - 1px)
              width: 0
              border-left: 2px solid #eee
            .step:last-child:after
              display: none

          .sticky
            .text-center
              .mx-auto(style="width:24px")
                each i in [1,2,3,4,5,6,7,8]
                  .step.rounded-circle.w-100.aspect-ratio.ratio-1by1(class=(i<5 ? 'active' : ''))
              span #[span.text-lg 5] / #[span.text-sm.text-muted 10]
        +scope("project-edit").col-md-9

          .form-group
            label 你的提案名稱
            +edit-text({name: 'title'})
          .form-group
            label 你的提案縮圖
            +edit-image({name: 'thumbnail'})
          .form-group
            label 你需要多少錢？（30 ~ 50 萬之間）
            +edit-slider({name: 'money'})

          -
            titles = [
              "請以簡短且非專業人士也能理解的方式介紹此專案。",
              "提案者簡介",
              "請簡述提案者在專案中的角色（例如：專案經理、全端工程師、顧問等）、專案成員與團隊背景介紹。（團隊現在有什麼人才？還需要什麼人才？）"
            ]

          each title,$index in titles
            .form-group
              label #{title}
              +edit-richtext({name: 'f' + $index})
          .form-group
            label 請提供本活動所需的授權文件電子掃描檔。
            +edit-upload({name: "authorize"})
          .form-group
            label 請提供本計劃的示意圖或介面設計草圖
            +edit-image({name: "design"})
          .form-group
            label 相關的關鍵字或標籤
            +edit-tags({name: "tags"})
          .form-group
            label 專案屬於哪一個子分類？
            - category = ["開放政府","新媒體","公共服務","開放資料","社會參與","基礎建設"]
            +edit-select({values: category, other: false, name: "category"})
          .form-group
            label 專案使用什麼授權？
            - values = ["CC-BY","MIT","GPLv3","Apache V2","CC0"]
            +edit-select({values: values, other: true, name: "license"})
          .form-group
            label 專案符合哪些要素？
            - values = ["多元","協作","開放","分享"]
            +edit-multiple({values: values, name: "component"})
          hr
          .btn.btn-primary(ld="submit") 發表

block script
  +script("/js/edit.js")
  script: :lsc
    ldc.register \project-edit, <[]>, ->
      form = new ldForm do
        root: '[ld-scope=project-edit]'
      handle = ->
        console.log form.getfd!
        
      view = new ldView do
        root: '[ld-scope=project-edit]'
        action: click: do
          submit: -> handle!
    ldc.app \project-edit
