//- module
mixin authpanel
  .card.shadow.mt-2.ml-2.signup(style="width:380px")
    ul.nav.nav-tabs.mt-2(
    onclick="this.parentNode.classList.toggle('login');this.parentNode.classList.toggle('signup')")
      li.nav-item.ml-2: a.nav-link(data-name="signup") SIGNUP
      li.nav-item: a.nav-link(data-name="login") LOGIN  
    .card-body
      .form
        .form-group
          label Email
          input.form-control(placeholder="Email")
        .form-group(data-show="signup")
          label Display Name
          input.form-control(placeholder="such as 'J. Doe'")
        .form-group
          label Password
          input.form-control(placeholder="Password",type="password")
        .form-group
          .text-center.form-text.text-muted.small
            | by sign-in, you agree to our #[a(href="/tos/") Terms] and #[a(href="/pp/") Privacy Policy]
        .btn.btn-success.btn-block(data-show="login") LOGIN
        .btn.btn-success.btn-block(data-show="signup") SIGN UP
        .float-right.small.mt-1: a(href="") forget password? »
        .float-left.small.mt-1(data-show="signup")
          .form-check
            input.form-check-input(type="checkbox")
            label.form-check-label subscribe newsletter
        br
        .sep.gap.text: span or login with
        .row
          .col-sm: .btn.btn-primary.btn-block #[i.i-fb] Facebook
          .col-sm: .btn.btn-outline-dark.btn-block #[i.i-google] Google
